<%- include('../partials/restaurants_header') %>
<h1>RECOMMENDATIONS:</h1>
<!--<div>
  <h1><%= businesses[0].name %></h1>
  <p>Rating: <%= businesses[0].rating %></p>
  <p>Price: <%= businesses[0].price %></p>
  <img
    src="<%= businesses[0].image_url %>"
  />
</div>-->
<div>
  <% for(var business of businesses) { %>
    <h1><%= business.name %></h1>
    <p>Rating: <%= business.rating %></p>
    <p>Price: <%= business.price %></p>
    <p>Distance: <%= (business.distance * 0.000621371).toPrecision(2) %> miles (center of zipcode)</p>
    <p>Address: <%= business.location.display_address[0] %>, <%= business.location.display_address[1] %> <%= business.location.display_address[2] %></p>
    <img
      src="<%= business.image_url %>"
    />
  <% } %>
</div>


<%- include('../partials/footer') %>
