<%- include('../partials/restaurants_header') %>
<header>
  <h1>Welcome to WebApp</h1>
  <p>some greeting message to users!</p>
</header>

<h1>Our Top Picks For You . . .</h1>
<br>
<br>
<br>
<div id="recommended-list">
</div>
<!--<div>
  <h1><%= businesses[0].name %></h1>
  <p>Rating: <%= businesses[0].rating %></p>
  <p>Price: <%= businesses[0].price %></p>
  <img
    src="<%= businesses[0].image_url %>"
  />
</div>-->
<!-- <div>
  <% for(var business of businesses) { %>
    <h1><%= business.name %></h1>
    <p>Rating: <%= business.rating %></p>
    <p>Price: <%= business.price %></p>
    <p>Distance: <%= (business.distance * 0.000621371).toPrecision(2) %> miles (center of zipcode)</p>
    <p>Address: <%= business.location.display_address[0] %>, <%= business.location.display_address[1] %> <%= business.location.display_address[2] %></p>
    <img
      src="<%= business.image_url %>"
    />
  <% } %>
</div> -->

<!-- Container for the image gallery -->
<div class="container">
  <% for(var business of businesses) { %>
  <!-- Full-width images with number text -->
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <h1><%= business.name %></h1>
    <p>Rating: <%= business.rating %></p>
    <p>Price: <%= business.price %></p>
    <p>Distance: <%= business.distance %></p>
      <img src="<%= business.image_url %>" style="width:100%">
  </div>

 

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
  <% } %>

</div>

<%- include('../partials/footer') %>
