<%- include('../partials/restaurants_header') %>
    <!-- <h1 style="font-size: 48px;">Our Top Picks For You . . .</h1> -->
    <!-- <h1>Our Top Picks For You . . .</h1>
    <br>
    <br>
    <br>
    <br>
    <br> -->

    <div id='map' style='width: 100%; height: 500px;'></div>
    <!-- <div class="container">
        
        <div class="mySlides">
            <div class="numbertext">1 / 10</div>
            <h2>
                <%= businesses[0].name %>
            </h2>
            <br>
            <br>
            <div class="rating">Rating:
                <%= businesses[0].rating %>
            </div>
            <div class="price">Price:
                <%= businesses[0].price %>
            </div>
            <img class="centerPic" src="<%= businesses[0].image_url %>">
            <p>Distance:
                <%= (businesses[0].distance * 0.000621371).toPrecision(2) %> miles (center of zipcode)</p>
        </div>
        <div class="mySlides">
            <div class="numbertext">2 / 10</div>
            <h2>
                <%= businesses[1].name %>
            </h2>
            <br>
            <br>
            <div class="rating">Rating:
                <%= businesses[1].rating %>
            </div>
            <div class="price">Price:
                <%= businesses[1].price %>
            </div>
            <img class="centerPic" src="<%= businesses[1].image_url %>">
            <p>Distance:
                <%= (businesses[1].distance * 0.000621371).toPrecision(2) %> miles (center of zipcode)</p>
        </div>
        <div class="mySlides">
            <div class="numbertext">3 / 10</div>
            <h2>
                <%= businesses[2].name %>
            </h2>
            <br>
            <br>
            <div class="rating">Rating:
                <%= businesses[2].rating %>
            </div>
            <div class="price">Price:
                <%= businesses[2].price %>
            </div>
            <img class="centerPic" src="<%= businesses[2].image_url %>">
            <p>Distance:
                <%= (businesses[2].distance * 0.000621371).toPrecision(2) %> miles (center of zipcode)</p>
        </div>
        <div class="mySlides">
            <div class="numbertext">4 / 10</div>
            <h2>
                <%= businesses[3].name %>
            </h2>
            <br>
            <br>
            <div class="rating">Rating:
                <%= businesses[3].rating %>
            </div>
            <div class="price">Price:
                <%= businesses[3].price %>
            </div>
            <img class="centerPic" src="<%= businesses[3].image_url %>">
            <p>Distance:
                <%= (businesses[3].distance * 0.000621371).toPrecision(2) %> miles (center of zipcode)</p>
        </div>
        <div class="mySlides">
            <div class="numbertext">5 / 10</div>
            <h2>
                <%= businesses[4].name %>
            </h2>
            <br>
            <br>
            <div class="rating">Rating:
                <%= businesses[4].rating %>
            </div>
            <div class="price">Price:
                <%= businesses[4].price %>
            </div>
            <img class="centerPic" src="<%= businesses[4].image_url %>">
            <p>Distance:
                <%= (businesses[4].distance * 0.000621371).toPrecision(2) %> miles (center of zipcode)</p>
        </div>
        <div class="mySlides">
            <div class="numbertext">6 / 10</div>
            <h2>
                <%= businesses[5].name %>
            </h2>
            <br>
            <br>
            <div class="rating">Rating:
                <%= businesses[5].rating %>
            </div>
            <div class="price">Price:
                <%= businesses[5].price %>
            </div>
            <img class="centerPic" src="<%= businesses[5].image_url %>">
            <p>Distance:
                <%= (businesses[5].distance * 0.000621371).toPrecision(2) %> miles (center of zipcode)</p>
        </div>
        <div class="mySlides">
            <div class="numbertext">7 / 10</div>
            <h2>
                <%= businesses[6].name %>
            </h2>
            <br>
            <br>
            <div class="rating">Rating:
                <%= businesses[6].rating %>
            </div>
            <div class="price">Price:
                <%= businesses[6].price %>
            </div>
            <img class="centerPic" src="<%= businesses[6].image_url %>">
            <p>Distance:
                <%= (businesses[6].distance * 0.000621371).toPrecision(2) %> miles (center of zipcode)</p>
        </div>
        <div class="mySlides">
            <div class="numbertext">8 / 10</div>
            <h2>
                <%= businesses[7].name %>
            </h2>
            <br>
            <br>
            <div class="rating">Rating:
                <%= businesses[7].rating %>
            </div>
            <div class="price">Price:
                <%= businesses[7].price %>
            </div>
            <img class="centerPic" src="<%= businesses[7].image_url %>">
            <p>Distance:
                <%= (businesses[7].distance * 0.000621371).toPrecision(2) %> miles (center of zipcode)</p>
        </div>
        <div class="mySlides">
            <div class="numbertext">9 / 10</div>
            <h2>
                <%= businesses[8].name %>
            </h2>
            <br>
            <br>
            <div class="rating">Rating:
                <%= businesses[8].rating %>
            </div>
            <div class="price">Price:
                <%= businesses[8].price %>
            </div>
            <img class="centerPic" src="<%= businesses[8].image_url %>">
            <p>Distance:
                <%= (businesses[8].distance * 0.000621371).toPrecision(2) %> miles (center of zipcode)</p>
        </div>
        <div class="mySlides">
            <div class="numbertext">10 / 10</div>
            <h2>
                <%= businesses[9].name %>
            </h2>
            <br>
            <br>
            <div class="rating">Rating:
                <%= businesses[9].rating %>
            </div>
            <div class="price">Price:
                <%= businesses[9].price %>
            </div>
            <img class="centerPic" src="<%= businesses[9].image_url %>">
            <p>Distance:
                <%= (businesses[9].distance * 0.000621371).toPrecision(2) %> miles (center of zipcode)</p>
        </div>



        

        <a class="prev" onclick="plusSlides(-1)" style="left: 30%">&#10094;</a>
        <a class="next" onclick="plusSlides(1)" style="left: 67%">&#10095;</a>

    </div> -->



    <!-- Image text -->
    <div class="caption-container">
        <p id="caption"></p>
    </div>

    <!-- Thumbnail images -->
    <div class="row">
        <%businesses.forEach((b,i)=> {%>
            <div class="column">
                <img class="demo cursor" src="<%= b.image_url %>" onclick="currentSlide('<%=i+1%>')" alt="<%= b.name %>">
            </div>
            <%}) %>
    </div>
    <!-- <div id='map' style='width: 100%; height: 500px;'></div> -->
    <pre id="coordinates" class="coordinates"></pre>
    <script>
        ///Look this is not the best way to do this . i know this should just be a loop but when i implement the loop it throws an error that loop iterator i is not define when using it with businesses array
        var arrayBussines = []
        var busines0 = {
            name: "<%-businesses[0].name-%>",
            display_address: '<%-businesses[0].location.display_address%> ',
            image_url: '<%-businesses[0].image_url%>',
            review_counts: '<%- JSON.stringify(businesses[0].review_count)%> ',
            prices: '<%- businesses[0].price %> ',
            display_phoneNumber: '<%-businesses[0].display_phone%>',
            longitude: "<%-JSON.stringify(businesses[0].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[0].coordinates.latitude)  %> "
        }
        var busines1 = {
            name: "<%-businesses[1].name-%>",
            display_address: '<%-businesses[1].location.display_address%> ',
            image_url: '<%-businesses[1].image_url%>',
            review_counts: '<%- businesses[1].review_count%> ',
            prices: '<%- businesses[1].price %> ',
            display_phoneNumber: '<%-businesses[1].display_phone%>',
            longitude: "<%-JSON.stringify(businesses[1].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[1].coordinates.latitude)  %> "
        }
        var busines2 = {
            name: "<%-businesses[2].name-%>",
            display_address: '<%-businesses[2].location.display_address%> ',
            image_url: '<%-businesses[2].image_url%>',
            review_counts: '<%- businesses[2].review_count%> ',
            prices: '<%- businesses[2].price %> ',
            display_phoneNumber: '<%-businesses[2].display_phone%>',
            longitude: "<%-JSON.stringify(businesses[2].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[2].coordinates.latitude)  %> "
        }
        var busines3 = {
            name: "<%-businesses[3].name-%>",
            display_address: '<%-businesses[3].location.display_address%> ',
            image_url: '<%-businesses[3].image_url%>',
            review_counts: '<%- businesses[3].review_count%> ',
            prices: '<%- businesses[3].price %> ',
            display_phoneNumber: '<%-businesses[3].display_phone%>',
            longitude: "<%-JSON.stringify(businesses[3].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[3].coordinates.latitude)  %> "
        }
        var busines4 = {
            name: "<%-businesses[4].name-%>",
            display_address: '<%-businesses[4].location.display_address%> ',
            image_url: '<%-businesses[4].image_url%>',
            review_counts: '<%- businesses[4].review_count%> ',
            prices: '<%- businesses[4].price %> ',
            display_phoneNumber: '<%-businesses[4].display_phone%>',
            longitude: "<%-JSON.stringify(businesses[4].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[4].coordinates.latitude)  %> "
        }
        var busines5 = {
            name: "<%-businesses[5].name-%>",
            display_address: '<%-businesses[5].location.display_address%> ',
            image_url: '<%-businesses[5].image_url%>',
            review_counts: '<%- businesses[5].review_count%> ',
            prices: '<%- businesses[5].price %> ',
            display_phoneNumber: '<%-businesses[5].display_phone%>',
            longitude: "<%-JSON.stringify(businesses[5].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[5].coordinates.latitude)  %> "
        }
        var busines6 = {
            name: "<%-businesses[6].name-%>",
            display_address: '<%-businesses[6].location.display_address%> ',
            image_url: '<%-businesses[6].image_url%>',
            review_counts: '<%- businesses[6].review_count%> ',
            prices: '<%- businesses[6].price %> ',
            display_phoneNumber: '<%-businesses[6].display_phone%>',
            longitude: "<%-JSON.stringify(businesses[6].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[6].coordinates.latitude)  %> "
        }
        var busines7 = {
            name: "<%-businesses[7].name-%>",
            display_address: '<%-businesses[7].location.display_address%> ',
            image_url: '<%-businesses[7].image_url%>',
            review_counts: '<%- businesses[7].review_count%> ',
            prices: '<%- businesses[7].price %> ',
            display_phoneNumber: '<%-businesses[7].display_phone%>',
            longitude: "<%-JSON.stringify(businesses[7].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[7].coordinates.latitude)  %> "
        }
        var busines8 = {
            name: "<%-businesses[8].name-%>",
            display_address: '<%-businesses[8].location.display_address%> ',
            image_url: '<%-businesses[8].image_url%>',
            review_counts: '<%- businesses[8].review_count%> ',
            prices: '<%- businesses[8].price %> ',
            display_phoneNumber: '<%-businesses[8].display_phone%>',
            longitude: "<%-JSON.stringify(businesses[8].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[8].coordinates.latitude)  %> "
        }
        var busines9 = {
            name: "<%-businesses[9].name-%>",
            display_address: '<%-businesses[9].location.display_address%> ',
            image_url: '<%-businesses[9].image_url%>',
            review_counts: '<%- businesses[9].review_count%> ',
            prices: '<%- businesses[9].price %> ',
            display_phoneNumber: '<%-businesses[9].display_phone%>',
            longitude: "<%-JSON.stringify(businesses[9].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[9].coordinates.latitude)  %> "
        }

        arrayBussines.push(busines0)
        arrayBussines.push(busines1)
        arrayBussines.push(busines2)
        arrayBussines.push(busines3)
        arrayBussines.push(busines4)
        arrayBussines.push(busines5)
        arrayBussines.push(busines6)
        arrayBussines.push(busines7)
        arrayBussines.push(busines8)
        arrayBussines.push(busines9)


        //var localbusinesses = JSON.stringify(buss);
    </script>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>

    <%- include('../partials/footer') %>