<%- include('../partials/restaurants_header') %>
    
    <div id='map' style='width: 100%; height: 500px;'></div>

    <div class="caption-container">
        <p id="caption"></p>
    </div>

    <div class="row">
        <%businesses.forEach((b,i)=> {%>
            <div class="column">
                <img class="demo cursor" src="<%= b.image_url %>" onclick="currentSlide(<%=i+1%>)" alt="<%= b.name %>">
            </div>
            <%}) %>
    </div>
    <!-- <div id='map' style='width: 100%; height: 500px;'></div> -->
    <pre id="coordinates" class="coordinates"></pre>
    <script>
        var arrayBussines = []
        var busines0 = {
            name: "<%-businesses[0].name-%>",
            display_address: '<%-businesses[0].location.display_address%> ',
            image_url: '<%-businesses[0].image_url%>',
            longitude: "<%-JSON.stringify(businesses[0].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[0].coordinates.latitude)  %> "
        }
        var busines1 = {
            name: "<%-businesses[1].name-%>",
            display_address: '<%-businesses[1].location.display_address%> ',
            longitude: "<%-JSON.stringify(businesses[1].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[1].coordinates.latitude)  %> "
        }
        var busines2 = {
            name: "<%-businesses[2].name-%>",
            display_address: '<%-businesses[2].location.display_address%> ',
            longitude: "<%-JSON.stringify(businesses[2].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[2].coordinates.latitude)  %> "
        }
        var busines3 = {
            name: "<%-businesses[3].name-%>",
            display_address: '<%-businesses[3].location.display_address%> ',
            longitude: "<%-JSON.stringify(businesses[3].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[3].coordinates.latitude)  %> "
        }
        var busines4 = {
            name: "<%-businesses[4].name-%>",
            display_address: '<%-businesses[4].location.display_address%> ',
            longitude: "<%-JSON.stringify(businesses[4].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[4].coordinates.latitude)  %> "
        }
        var busines5 = {
            name: "<%-businesses[5].name-%>",
            display_address: '<%-businesses[5].location.display_address%> ',
            longitude: "<%-JSON.stringify(businesses[5].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[5].coordinates.latitude)  %> "
        }
        var busines6 = {
            name: "<%-businesses[6].name-%>",
            display_address: '<%-businesses[6].location.display_address%> ',
            longitude: "<%-JSON.stringify(businesses[6].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[6].coordinates.latitude)  %> "
        }
        var busines7 = {
            name: "<%-businesses[7].name-%>",
            display_address: '<%-businesses[7].location.display_address%> ',
            longitude: "<%-JSON.stringify(businesses[7].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[7].coordinates.latitude)  %> "
        }
        var busines8 = {
            name: "<%-businesses[8].name-%>",
            display_address: '<%-businesses[8].location.display_address%> ',
            longitude: "<%-JSON.stringify(businesses[8].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[8].coordinates.latitude)  %> "
        }
        var busines9 = {
            name: "<%-businesses[9].name-%>",
            display_address: '<%-businesses[9].location.display_address%> ',
            longitude: "<%-JSON.stringify(businesses[9].coordinates.longitude)%>",
            latitude: "<%-JSON.stringify(businesses[9].coordinates.latitude)  %> "
        }

        arrayBussines.push(busines0)
        arrayBussines.push(busines1)
        arrayBussines.push(busines2)
        arrayBussines.push(busines3)
        arrayBussines.push(busines4)
        arrayBussines.push(busines5)
        arrayBussines.push(busines6)
        arrayBussines.push(busines7)
        arrayBussines.push(busines8)
        arrayBussines.push(busines9)


        //var localbusinesses = JSON.stringify(buss);
    </script>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>

    <%- include('../partials/footer') %>